<nb-card-body >
  <div class="row ">
    <div class="col-md-3 ml-5 mr-5">
      <div class="card p-4 mt-4">
        <img src="assets\image\1.jpg" class=" center book_img" alt="">
        <p> <strong>About book:</strong> A dazzling epic of betrayal, love,
          and fate that spans five generations of an Indigenous Chicano family in the American West,
          from the author of the National Book Award Finalist Sabrina & Corina</p>
        <h3>Price:1000</h3>
        <div class="row">
          <div class="col-md-6">
            <button class="button button1" (click)="addToSign()">Hire</button>
          </div>
          <div class="col-md-6">
            <button  class="button button2" (click)="addToSign()">Buy</button>
          </div>
        </div>
      </div>
  </div>
    <div class="col-md-3 mr-5 ml-5">
      <div class="card p-4 mt-4">
        <img src="assets\image\2.jpg" alt="" class="book_img">
        <p><strong> About Book:</strong> The book is narrated by Nick Carraway, a Yale University graduate from the
          Midwest who moves to New York after World War I to pursue a career in bonds. He recounts the events
          of the summer he spent in the East two years later, reconstructing his story through a series of
          flashbacks not always told in chronological order.
        </p>
        <h3>Price:1500</h3>
        <div class="row">
          <div class="col-md-6">
        <button class="button button1" (click)="addToSign()">Hire</button>
          </div>
          <div class="col-md-6">
            <button  class="button button2" (click)="addToSign()">Buy</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 mr-5 ml-5">
      <div class="card p-4 mt-4">
        <img src="assets\image\3.jpg" alt="" class="book_img">
        <p> <strong>About book:</strong> Brave new world is a novel with a science-fiction
          theme written by bestselling author, aldous huxley, and was first published
          in 1932 it is set in the far future, in 2540 ad and features a utopian view of the society
          at that time, with a lot of material dedicated to sleep learning, reproductive technology</p>
        <h3>Price:1000</h3>
        <div class="row">
          <div class="col-md-6">
            <button class="button button1" (click)="addToSign()">Hire</button>
          </div>
          <div class="col-md-6">
            <button  class="button button2" (click)="addToSign()">Buy</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 ml-5 mr-5">
      <div class="card p-4 mt-4">
        <img src="assets\image\10.jpg" alt="" class="book_img">
        <p><strong>About Book: </strong> Beloved is a 1987 novel by the American writer
          Toni Morrison. Set after the American Civil War, it tells the
          story of a family of formerly enslaved people
          whose Cincinnati home is haunted by a malevolent spirit.</p>
        <h3>Price:4000</h3>
        <div class="row">
          <div class="col-md-6">
            <button class="button button1" (click)="addToSign()">Hire</button>
          </div>
          <div class="col-md-6">
            <button  class="button button2" (click)="addToSign()">Buy</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 ml-5 mr-5">
      <div class="card p-4 mt-4">
        <img src="assets\image\11.jpg" alt="" class="book_img">
        <p><strong>About Book: </strong> Beloved is a 1987 novel by the American writer
          Toni Morrison. Set after the American Civil War, it tells the
          story of a family of formerly enslaved people
          whose Cincinnati home is haunted by a malevolent spirit.</p>
        <h3>Price:4000</h3>
        <div class="row">
          <div class="col-md-6">
            <button class="button button1" (click)="addToSign()">Hire</button>
          </div>
          <div class="col-md-6">
            <button  class="button button2" (click)="addToSign()">Buy</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 mr-5 ml-5" >
      <div class="card p-4 mt-4">
        <img src="assets\image\12.jpg" alt="" class="book_img">
        <p><strong>About Book: </strong> Beloved is a 1987 novel by the American writer
          Toni Morrison. Set after the American Civil War, it tells the
          story of a family of formerly enslaved people
          whose Cincinnati home is haunted by a malevolent spirit.</p>
        <h3>Price:4000</h3>        <div class="row">
          <div class="col-md-6">
            <button class="button button1" (click)="addToSign()">Hire</button>
          </div>
          <div class="col-md-6">
            <button  class="button button2" (click)="addToSign()">Buy</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 mr-5 ml-5">
      <div class="card p-4 mt-4">
        <img src="assets\image\6.jpg" alt="" class="book_img">
        <p><strong>About Book: </strong> Beloved is a 1987 novel by the American writer
          Toni Morrison. Set after the American Civil War, it tells the
          story of a family of formerly enslaved people
          whose Cincinnati home is haunted by a malevolent spirit.</p>
        <h3>Price:4000</h3>
        <div class="row">
          <div class="col-md-6">
            <button class="button button1" (click)="addToSign()">Hire</button>
          </div>
          <div class="col-md-6">
            <button  class="button button2" (click)="addToSign()">Buy</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 mr-5 ml-5">
      <div class="card p-4 mt-5">
        <img src="assets\image\4.jpg" alt="" class="book_img">
        <p><strong>About Book: </strong> Beloved is a 1987 novel by the American writer
          Toni Morrison. Set after the American Civil War, it tells the
          story of a family of formerly enslaved people
          whose Cincinnati home is haunted by a malevolent spirit.</p>
        <h3>Price:4000</h3>
        <div class="row">
          <div class="col-md-6">
            <button class="button button1" (click)="addToSign()">Hire</button>
          </div>
          <div class="col-md-6">
            <button  class="button button2" (click)="addToSign()">Buy</button>
          </div>
        </div>
      </div>
    </div>
    </div>
</nb-card-body>



