.sb_list {
  background-color: #EDEDF7;
  padding-left: 20px !important;
  padding-right: 20px !important;
  width:550px;
  height:150px;
}
.book_img{
  height:250px;
  width:200px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto
}
.button {
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width:90%;
  background: cornflowerblue;
  color:white;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.button1 {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
